:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3763 0.016 359.5767);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3763 0.016 359.5767);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3763 0.016 359.5767);
  --primary: oklch(0.8405 0.0889 33.5614);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.6341 0.1127 32.1873);
  --muted: oklch(1 0 0);
  --muted-foreground: oklch(0.6313 0.0112 58.1152);
  --accent: oklch(0.9237 0.0486 60.1437);
  --accent-foreground: oklch(0.3763 0.016 359.5767);
  --destructive: oklch(0.6879 0.1584 17.4303);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(1 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.8405 0.0889 33.5614);
  --chart-1: oklch(0.8405 0.0889 33.5614);
  --chart-2: oklch(0.9237 0.0486 60.1437);
  --chart-3: oklch(0.995 0.0034 67.7842);
  --chart-4: oklch(0.9452 0.0285 39.3481);
  --chart-5: oklch(0.7296 0.0916 31.3216);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.3763 0.016 359.5767);
  --sidebar-primary: oklch(0.8405 0.0889 33.5614);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9237 0.0486 60.1437);
  --sidebar-accent-foreground: oklch(0.3763 0.016 359.5767);
  --sidebar-border: oklch(1 0 0);
  --sidebar-ring: oklch(0.8405 0.0889 33.5614);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.09;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-md:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 2px 4px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-lg:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 4px 6px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-xl:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 8px 10px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.22);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2844 0.0199 351.5444);
  --foreground: oklch(1 0 0);
  --card: oklch(0.3564 0.0214 338.4295);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.3564 0.0214 338.4295);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.8405 0.0889 33.5614);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.4113 0.0228 342.8474);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.3195 0.0188 344.2373);
  --muted-foreground: oklch(0.9604 0.0059 59.651);
  --accent: oklch(0.9237 0.0486 60.1437);
  --accent-foreground: oklch(0.2844 0.0199 351.5444);
  --destructive: oklch(0.6879 0.1584 17.4303);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.4113 0.0228 342.8474);
  --input: oklch(0.4113 0.0228 342.8474);
  --ring: oklch(0.8405 0.0889 33.5614);
  --chart-1: oklch(0.8405 0.0889 33.5614);
  --chart-2: oklch(0.9237 0.0486 60.1437);
  --chart-3: oklch(0.995 0.0034 67.7842);
  --chart-4: oklch(0.9452 0.0285 39.3481);
  --chart-5: oklch(0.7296 0.0916 31.3216);
  --sidebar: oklch(0.2844 0.0199 351.5444);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.8405 0.0889 33.5614);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9237 0.0486 60.1437);
  --sidebar-accent-foreground: oklch(0.2844 0.0199 351.5444);
  --sidebar-border: oklch(0.4113 0.0228 342.8474);
  --sidebar-ring: oklch(0.8405 0.0889 33.5614);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.09;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-md:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 2px 4px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-lg:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 4px 6px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-xl:
    0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 8px 10px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.22);
}
